<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <title>OnionCheck</title>
  <link rel="icon" type="image/x-icon" href="img/favicon.ico">
  <link href="css/bulma.min.css" rel="stylesheet" media="screen" />
  <link href="css/bulma-list.css" rel="stylesheet" media="screen" />
  <link href="css/style.css" rel="stylesheet" />
  <link href="css/ubuntu.css" rel="stylesheet" />
</head>

<body>
  <nav class="navbar is-warning is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <p class="logo"><img src="img/onion.png" /><span id="onion">Onion</span><span id="check">Check</span></p>
      </a>
    </div>
      <div class="navbar-start">
        <a class="navbar-item" href="/#home">
          Home
        </a>
        <a class="navbar-item" href="/#philosophy">
          Philosophy
        </a>
        <a class="navbar-item" href="https://github.com/Friscas/OnionCheck/issues/new?assignees=&labels=&template=bug_report.md&title=" target="_blank">
          Report an issue
        </a>
      </div>
    
  
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-danger" href="/#donate">
            <strong>DONATE</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
  </nav>
  <div class="container customHeight">
    <%- body %>
  </div>

  <footer class="footer customFooter is-fixed-bottom">
    <div class="content has-text-centered">
      <p>
      <div>
        <strong>OnionCheck</strong> by
        <a href="https://github.com/Friscas">Friscas</a> and friends. The source code is
        licensed <a href="https://opensource.org/licenses/GPL-3.0">GPL3</a>.
      </div>
      <a href="https://github.com/Friscas/OnionCheck"><img src="img/github.png" /></a>
      </p>
    </div>
  </footer>
</body>

</html>