<section class="section customPadding">
  <div class="is-centered">
    <div class="column is-narrow has-text-centered">
      <h1 class="title">Are this onion services online?</h1>
    </div>
  </div>
  <form
    method="post"
    action="/check"
    id="confirmationForm"
    name="confirmationForm"
  >
    <div class="field">
      <label class="label"></label>
      <div class="control">
        <textarea
          id="links"
          name="links"
          class="textarea"
          form="confirmationForm"
          required
          placeholder="Insert max 10 onion links"
        ></textarea>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link is-outlined">Check Now!</button>
      </div>
    </div>
  </form>
</section>

<section class="section">
  <div class="is-centered">
    <div>
      <h3 class="title is-3">What is this?</h3>
    </div>
    <div class="content">
      <p>
        Well, it is common that some onion websites mirrors are offline because
        of heavy DDoS. What happen after is that, the owners of the services
        usually release a lot of new mirrors, but not all of them are online and
        you'll have to check one by one while you could be doing something else.
        So this tool will atuomate all of that for you! :D
      </p>
      <h6 class="title is-6">All you have to do is:</h6>
      <ol type="1">
        <li>Copy and paste max. 10 links</li>
        <li>Paste them in the text box above</li>
        <li>Press the check now button</li>
      </ol>
    </div>
  </div>
</section>
