<section class="section">
  <div class="is-centered">
    <div class="column is-narrow has-text-centered">
      <h1 class="title">Are this onion services online?</h1>
    </div>
  </div>
  <form
    method="post"
    action="/check"
    id="confirmationForm"
    name="confirmationForm"
  >
    <div class="field">
      <label class="label"></label>
      <div class="control">
        <textarea
          id="links"
          name="links"
          class="textarea"
          form="confirmationForm"
          placeholder="Insert max 10 onion links"
        ></textarea>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link is-outlined">Check Now!</button>
      </div>
    </div>
  </form>
</section>

<section class="section">
  <div class="is-centered">
    <div>
      <h3 class="title is-3">How does it work?</h3>
    </div>
    <div class="content">
      <p>HERE GOES THE DESCRIPTION</p>
    </div>
  </div>
</section>
